#highlight {
	background: url("imgs/CameroMedium.png") center top;
	width: 100%;
	height: 450px;
	background-size: 100%;
	background-size: cover;
}

#highlight #blurb {
	height: 100%;
	padding-left: 18px;
	padding-right: 18px;
	color: white;
	width: 30%;
	float: right;
	background-color: rgba(0, 0, 0, .6); /*for transparency*/
}

#highlight h1 {
	margin: 0px;
	margin-top: 30px;

}

.spacer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/*Content Section*/

.bisection {
	width: 48.5%;
}

#break {
	width: 100%;
	height: 30px;
	background: #202020;
}

body {
	background: url("imgs/QuadBW.jpg") center center;
	background-size: cover;
	background-attachment: fixed;
}

#content > div {
	float: left;
	background: #202020;
	margin-top: 30px;
	overflow: hidden;
}

#content > div * {
	color: white;
}

#team {
	margin-left: 3%;
}

#team img {
	width: 445px;
	margin: 18px;
	margin-top: 0px;
}

#content h2, #content p {
	padding: 18px;
}

.decoration {
	display: block;
	margin-bottom: 18px;
	margin-top: 18px;
}

#sponsors {
	clear: both;
	margin-bottom: 20px;
}

#sponsorimgs img:first-child {
	clear: left;
}

#sponsorimgs img {
	float: left;
	margin: 25px;
}

#content h2 {
/*	background-color: black;
	color: #a55be3;*/
}